.divFirst{
  width: 100vw;
  height: 90vh;
  background-color: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.divSecond{
  width: 75%;
  height: 94.68%;
  display: flex;
  border: 4px double rgb(218, 218, 218) ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divSecond button{
  padding: 0;
  transition: 0.4s;
}
.divSecond button:hover{
  transform: scale(1.03);
}
.divThree{
  border: 4px double rgb(218, 218, 218) ;
  width: 20%;
  height: 90%;
  padding: 1rem 1rem;
}
.divThree div{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.divThree form{
  width: 53.6%;
}
.divThree label{
  margin: 0;
  color: white; 
  font-size: 0.9rem; 
}
.divThree input{
  padding: 0;
}
.divFour{
  display: flex;
  flex-direction: column;
}
.divFour label{
  margin: 0;
  color: white; 
  font-size: 1.5rem; 
}
.errorSecond{
  color: rgb(195, 0, 0);
  font-size: 1rem;
}
.descriptionSecond{
  color: white;
  font-size: 1.2rem;
}
.asteriskSecond{
  color: red;
}